
budgetApp/.vs/slnx.sqlite
budgetApp/.vs/slnx.sqlite
budgetApp/bin/Debug/netcoreapp3.1/budgetApp.dll
budgetApp/bin/Debug/netcoreapp3.1/budgetApp.pdb
budgetApp/obj/Debug/netcoreapp3.1/budgetApp.dll
budgetApp/obj/Debug/netcoreapp3.1/budgetApp.pdb
