@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="@("window.location.href='" + @Url.Action("Budget", "Tmp") + "?mode=load'");">LOAD</button>
    <button onclick="@("window.location.href='" + @Url.Action("Budget", "Tmp") + "?mode=new'");">NEW</button>
</div>
@* </div>
<li>
    <a href="/Budget/Budget">Budget</a>
</li>
<li>
    <a href="/Budget/FixedBudget">Set fixed budget</a>
</li>
<li>
    <a href="/Budget/VariableBudget">Set Variable budget</a>
</li>
<li>
    <a href="/Budget/GeneralBudget">Set General budget</a>
</li>*@
