@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button onclick="@("window.location.href='" + @Url.Action("Budget", "Tmp") + "?mode=load'");">LOAD<!-- File reader function, then goes to budget--></button>
    <button onclick="@("window.location.href='" + @Url.Action("Budget", "Tmp") + "'");">NEW<!-- Goes to budget--></button>
</div>