@{
    ViewData["Title"] = "Create Budget";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please fill out the mandatory part of the budget first</p>

        <form method="post" action="">
            <p>Income</p><br />
            Salary/Wages: <input type="number" id="Salary" name="Salary" min="0" /><br /><br />
            Other Income: <input type="number" id="Other" name="Other" min="0" /><br /><br />
            <p>Fixed Expenses</p><br />
            Rent: <input type="number" id="Rent" name="Rent" min="0" /><br /><br />
            Insurance: <input type="number" id="Insurance" name="Insurance" min="0" /><br /><br />
            Medical Aid: <input type="number" id="MedicalAid" name="MedicalAid" min="0" /><br /><br />
            Submit: <input type="submit" />
        </form>
    </div>
