@{
    ViewData["Title"] = "Create Budget";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="post" action="">
        Groceries: <input type="number" id="Groceries" name="Groceries" min="0" /><br /><br />
        Transport: <input type="number" id="Transport" name="Transport" min="0" /><br /><br />
        Utilities: <input type="number" id="Utilities" name="Utilities" min="0" /><br /><br />
        Leisure: <input type="number" id="Leisure" name="Leisure" min="0" /><br /><br />
        Phone: <input type="number" id="Phone" name="Phone" min="0" /><br /><br />
        Savings: <input type="number" id="Savings" name="Savings" min="0" /><br /><br />
        Submit: <input type="submit" />
    </form>
</div>