@{
    ViewData["Title"] = "New Item";
}

<div class="text-center">
    <h1 class="display-4">Budget</h1>
    <p>Please try and create a new budget item</p>
    
    <form method="post" action="/Budget/AddItem">
        Name: <input type="text" id="Name" name="Name" maxlength = "20" required/>
        <br />
        Amount: <input type="number" id="Amount" name="Amount" min="0" max = "2000000000" required/>
        <br />
        Importance: <input type="number" id="Priority" name="Priority" min="0" max="5" required/>
        <br />
        Likelyhood to rise: <input type="number" id="Rise" name="Rise" min="0" max="5" required/>
        <br />
        Income/Expense?
        <select name="Type">
            <option default value="False">Income</option>
            <option value="True">Expense</option>
        </select>
        <br />
        <input type="submit" id="submit" name="Add Item" />
    </form>
    <button onclick="@("window.location.href='" + @Url.Action("Budget", "Budget") + "?mode=load'");">Cancel</button>
</div>