@{
    ViewData["Title"] = "Create Budget";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Please fill out the mandatory part of the budget first</p>

        <p>If you still need a field you can add it here</p>
        <form method="post" action="">
            Name: <input type="text" id="Name" name="Name" />
            Amount: <input type="number" id="Amount" name="Amount" min="0" />
            Importance: <input type="number" id="Priority" name="Priority" min="0" max="5" />
            Likelyhood to rise: <input type="number" id="Rise" name="Rise" min="0" max="5" />
            <input type="submit" id="submit" name="submit" />
        </form>

    </div>
